@model List<agave_whiteboard_server.Models.Room>
@{
    ViewBag.Title = "Rooms";
}

<div id="menuDiv">

    Rooms
</div>
<div id="roomsList">
    <ul>

        @foreach (agave_whiteboard_server.Models.Room room in Model)
        {
            
                <li><a href="/home/whiteboard?isjoin=true&id=@room.Name">@room.Name</a></li>
            
        }
    </ul>
</div>

@section scripts {

}

