@model List<agave_whiteboard_server.Models.Room>
@{
    ViewBag.Title = "Rooms";
}

<h2>Rooms</h2>
<label id="filename">placeholder</label>
<table>

    @foreach (agave_whiteboard_server.Models.Room room in Model)
    {
        <tr>
            <td>@room.Name</td>
        </tr>
    }
</table>
@section scripts {
   
}

